/* starting */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: aqua; */
}

/* shared styles */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* header section */

nav{
   max-width: 1600px;
  height: 92px;
}

.nav-middle {
  display: flex;
  width: 23%;
  max-width: 1600px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  padding: 34px;
  gap: 32px;
  
}

.btn {
  width: 10%;
  background-color: #469165;
  justify-content: flex-end;
  text-align: right;
  padding:12px 16px  ;
  border-radius: 4px;
}
