/* starting */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: aqua; */
}

/* shared styles */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.nav-middle {
  display: flex;
  
}